.header {
  color: white;
  padding-block: 4rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: green;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
  @media (min-width: 1200px) {
    font-size: 3rem;
  }
}
.main {
  background-color: white;
}
