.header {
  height: 22vh;
  background-image: url('../../images/owenheader.jpg');
  background-position: center;
  background-color: #fded97;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    height: 26vh;
  }
  @media (min-width: 1024px) {
    height: 30vh;
  }
}

.main {
  padding-top: 2rem;
  background-color: #fff9d7;
}
